<div id="whiteboard">
  <header id="header">
    <h1 id="logo">
      <div class="logo-container">
        <img src="images/logo.png" alt="Open Sketch">
      </div>
    </h1>
    <ul class="toolbar">
      <li><img id="tool-select" src="images/select-icon.png" alt="Select" /></li>
      <li><img id="tool-pencil" src="images/pencil-icon.png" alt="pencil" /></li>
      <li><img id="tool-eraser" src="images/eraser-icon.png" alt="eraser" /></li>
      <li><img id="tool-fill" src="images/bucket-icon.png" alt="bucket" /></li>
      <li>
        <img id="tool-shapes" src="images/shapes-icon.png" alt="shapes" />
        <ul class="shapes">
          <li><img id="tool-shapes-line" src="images/line-icon.png" alt="L" /><!-- <img id="tool-shapes-line" src="" alt="line" /> --></li>
          <li><img id="tool-shapes-rectangle" src="images/rectangle-icon.png" alt="R" /><!-- <img id="tool-shapes-rectangle" src="" alt="rect" /> --></li>
          <li><img id="tool-shapes-ellipse" src="images/ellipse-icon.png" alt="E" /><!-- <img id="tool-shapes-ellipse" src="" alt="ellipse" /> --></li>
        </ul>
      </li>
      <li><img id="tool-text" src="images/text-icon.png" alt="text" /></li>
      <li><img id="tool-table" src="images/table-icon.png" alt="table" /></li>
      <li>
        <img id="tool-import" src="images/import-icon.png" alt="import" />
        <input type="file" id="imgImport" multiple accept="image/*" style="display:none" />
      </li>
      <li><img id="tool-template" src="images/template-icon.png" alt="template" /></li>
      <li><img id="tool-color" src="images/color-icon.png" alt="color" />
        <div id="color-picker">
          <canvas height="200" width="200"></canvas>
        </div>
      </li>
    </ul>
    <ul class="options">
      <li>Save</li>
      <li>Settings</li>
      <li><a id="close-whiteboard" href="#0">Close</a></li>
    </ul>
    <textarea id="keyboardField"></textarea>
  </header>
  <div id="main">
    <div id="whiteboard-container"></div>
    <div id="tabs">
      <div class="cd-tabs">
        <!-- Navigation Header -->
        <nav>
          <ul class="cd-tabs-navigation">
            <li><a data-content="Chat" class="selected" href="#0">Chat</a></li>
            <li><a data-content="Users" href="#0">Users</a></li>
          </ul>
        </nav>

        <ul class="cd-tabs-content">

          <!-- ChatBox Tab -->
          <li data-content="Chat" class="selected">
            <div class="chatMessageBox">
              <div class="chatMessages">
              </div>
              <div class="messageInputUI">
                <hr class="divider" />
                <textarea></textarea>
                <button>Send</button>
              </div>
            </div>
          </li>

          <!-- User Management Tab -->
          <li data-content="Users">
            <ul id="userManagement">
            <ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
