<div id="whiteboard">
  <header id="header">
    <h1 id="logo">
      <div class="logo-container">
        <img src="images/logo.png" alt="Open Sketch">
      </div>
    </h1>
    <ul class="toolbar">
      <li><img id="tool-select" src="" alt="Select" /></li>
      <li><img id="tool-pencil" src="images/pencil-icon.png" alt="pencil" /></li>
      <li><img id="tool-eraser" src="images/eraser-icon.png" alt="eraser" /></li>
      <li><img id="tool-fill" src="images/bucket-icon.png" alt="bucket" /></li>
      <li><img id="tool-shapes" src="images/shapes-icon.png" alt="shapes" /></li>
      <li><img id="tool-text" src="images/text-icon.png" alt="text" /></li>
      <li><img id="tool-table" src="images/table-icon.png" alt="table" /></li>
      <li><img id="tool-import" src="images/import-icon.png" alt="import" /></li>
      <li><img id="tool-template" src="images/template-icon.png" alt="template" /></li>
      <li><img id="tool-color" src="images/color-icon.png" alt="color" /></li>
    </ul>
    <ul class="options">
      <li>Save</li>
      <li>Settings</li>
      <li>Close</li>
    </ul>
  </header>
  <div id="main">
    <div id="whiteboard-container"></div>
    <div id="tabs">
      <div class="cd-tabs">
        <!-- Navigation Header -->
        <nav>
          <ul class="cd-tabs-navigation">
            <li><a data-content="Chat" class="selected" href="#0">Chat</a></li>
            <li><a data-content="Users" href="#0">Users</a></li>
          </ul>
        </nav>

        <ul class="cd-tabs-content">

          <!-- ChatBox Tab -->
          <li data-content="Chat" class="selected">
            <!-- <h1 style="text-align:center;">I'm The Chat Tab!</h1> -->
            <div class="chatMessageBox">
              <div class="chatMessages">

              </div>
              <div class="messageInputUI">
                <textarea></textarea>
                <button>Send</button>
              </div>

            </div>
          </li>

          <!-- User Management Tab -->
          <li data-content="Users">
            <h1 style="text-align:center;">I'm The Users Tab!</h1>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
