<div id="whiteboard">
  <header id="header">
    <h1 id="logo">
      <img src="images/logo.png" alt="Open Sketch">
      <nav>
        <!-- Toolbar goes here -->
      </nav>
    </h1>
  </header>
  <div id="main">
    <div id="whiteboard-container"></div>
    <div id="tabs">
      <div class="cd-tabs">
        <!-- Navigation Header -->
        <nav>
          <ul class="cd-tabs-navigation">
            <li><a data-content="Chat" class="selected" href="#0">Chat</a></li>
            <li><a data-content="Users" href="#0">Users</a></li>
          </ul>
        </nav>

        <ul class="cd-tabs-content">

          <!-- ChatBox Tab -->
          <li data-content="Chat" class="selected">
            <h1>I'm The Chat Tab!</h1>
          </li>

          <!-- User Management Tab -->
          <li data-content="Users">
            <h1>I'm The Users Tab!</h1>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

