<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Open Sketch</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
   <script type="text/javascript" src="js/vendor/pixi.js"></script>
  <script type="text/javascript" src="js/vendor/socket.io.js"></script>
  <script type="text/javascript" src="js/bundle.js"></script>
</head>
<body>
  <h1>The Whiteboard</h1>
  <div id="whiteboard-container"></div>
  <div id="container">
    <div id="content">
      <div id="side-nav"></div>
    </div>
    <div id="footer"></div>
  </div>
</body>
</html>
