<div id="usergate">
  <div id="shader"></div>
  <div id="promptbox">
    <header id="header">
        <img id="logo" src="../images/logo.png" alt="Open Sketch">
    </header>
    <div id="section">
      <div class="welcome">Welcome to Open Sketch. Please enter a name to join the room and begin sketching!</div>
      <div class="controls">
        <input type="text" Placeholder="Your Name" />
        <button id="btnJoin">Join</button>
      </div>
      <div class="users">
        <ul id="userList"></ul>
      </div>
    </div>
  </div>
</div>
