<div id="home">
  <header id="header">
      <div class="center">
        <h1 id="logo">
          <img src="images/logo.png" alt="Open Sketch">
        </h1>
      </div>
    </header>
    <div id="main">
      <img class="background" src="images/home-banner.jpg">
      <div class="center">
        <div id="info-box">
          <div id="textbox1" class="textbox">Powerful Ideation Tool</div>
          <div id="textbox2" class="textbox">Remote Meetings</div>
          <div id="textbox3" class="textbox">Effective Communication</div>
        </div>
        <div id="form">
          <form>
            <div class="title">Create a Whiteboard</div>
            <div class="control">
              <label>Username</label><input id="inputName" maxlength="30" class="username" type="text" name="username" />
            </div>
            <div class="control">
              <label>Max Users</label><input maxlength="2" id="inputMax" type="number" size="2" min="1" max="30" name="maxUsers"/><br/>
            </div>
            <div class="control">
              <label>Participants can Chat</label>
              <div class="roundedOne">
                <input type="checkbox" value="None" id="roundedOne" name="canChat" checked />
                <label for="roundedOne"></label>
              </div>
            </div>
            <div class="control">
              <label>Participants can Draw</label>
              <div class="roundedTwo">
                <input type="checkbox" value="None" id="roundedTwo" name="canDraw" checked />
                <label for="roundedTwo"></label>
              </div>
            </div>
            <div class="control" >
              <label id="errormsg"></label>
              <button class="btn">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="bottom">
      <div class="title">Powerful Remote Whiteboard Application</div>
      <div class="icon">
        <img src="images/collaboration-image.png">
        <label>Collaborations</label>
      </div>
      <div class="icon">
        <img src="images/presentation-image.png">
        <label>Presentations</label>
      </div>
    </div>
</div>
