@import 'ui/tabs.less';
@import 'ui/chatbox.less';
@import 'ui/usergate.less';
@import 'ui/usermanagement.less';

#whiteboard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  #header {
    width: 100%;
    height: 60px;
    background-color: #132531;
    h1 {
      margin: 0;
      position: relative;
      display: block;
      float: left;
      font-size: 0.8em;
      width: 10%;
      .logo-container {
        padding: 0px 10px;
        width: 100%;
        height: 60px;
        background-color: #010310;
        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
    }
    .toolbar {
      position: relative;
      margin: 0 0 0 50px;
      padding: 0;
      width: 50%;
      height: 60px;
      left: 0;
      display: inline-block;
      li {
        height: 100%;
        margin: 0;
        padding: 0px 10px;
        float: left;
        width: 3vw;
        position: relative;

        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          width: 3vw;
        }

        img:active {
          margin: 0;
          padding: 0;
          width: 135%;
          cursor: pointer;
          cursor: hand;
          -webkit-transition: opacity .25s ease;
          -moz-transition: opacity .25s ease;
        }

        .tool-selected {
          left: -23%;
          margin: 0;
          padding: 0;
          width: 135%;
          cursor: pointer;
          background-color: #3F3075;
          -webkit-transition: opacity .25s ease;
          -moz-transition: opacity .25s ease;
        }


        ul.shapes {
          display: none;
          position: absolute;
          float: left;
          width: 3vw;
          height: 5vw;
          z-index: 400;
          color: #FFF;
          top: 60px;
          transform: translateX(-25%);

          li {
            background-color: #132531;
            // display: inline-block;
            height: 100%;
            width: 100%;
            padding: 0 10px;
            margin: 0 1px;
            text-align: center;
            z-index: 9999;
            float: none;
          }

          li:hover img {
            left: -22%;
            width: 4.3vw;
          }

          li img.tool-selected {
            left: -22%;
            margin: 0;
            padding: 0;
            width: 4.3vw;
          }
        }
      }

      li:hover ul.shapes {
        display: block; /* Display the dropdown */
      }

      li:hover:nth-child(-n+4) img, li:hover:nth-child(n+6) img {
        left: -23%;
        margin: 0;
        padding: 0;
        width: 4vw;
        cursor: pointer;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
      }

      .overlay {
        background:rgba(0,0,0,.75);
        text-align:center;
        opacity:0;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        z-index:-1;
      }
    }



    .options {
      display: inline-block;
      float: right;
      color: white;
      height: 60px;
      line-height: 60px;
      cursor: pointer;

      li {
        text-align: center;
        float: left;
        position: relative;
        padding: 0 2.2vw;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.15vw;
      }
      li:hover {
        font-weight: bold;
        background-color: #3F3075;
      }

    }
  }

  #save-whiteboard-prompt{
    display: none;
    position: absolute;
    top: 80px;
    z-index: 1000;
    line-height: 1;
    &.saveDialogOpen {
      display: block;
      position: absolute;
      top: 60px;
      z-index: 1000;
      padding: 10px;
      background-color: #132531;

      input {
        margin-left: 5px;
      }
    }
  }

  #color-wheel{
    display: none;
    position: absolute;
    top: 80px;
    z-index: 1000;
    line-height: 1;
    &.colorWheelOpen {
      display: block;
      position: absolute;
      top: 60px;
      z-index: 1000;
      padding: 10px;
      width: 150px;
      color: white;
      background-color: #132531;
      input {
        margin-left: 5px;
      }
      .sp-replacer {
        float: right;
      }
    }
  }

  #main {
    #whiteboard-container {
      position: relative;
      top: 0;
      // color: white;
      background-color: white;
      opacity: 1;
      width: 75%;
      canvas {
        background-color: white;
      }
    }
    #tabs {
      position: absolute;
      top: 60px;
      right: 0;
      width: 25%;
      height: 100%;
      background-color: #efefef;
      @media screen and (max-width: 964px) {
        display: none;
      }
    }

  }

  #keyboardField {
    position: absolute;
    opacity: 0;
    z-index: -100;
  }
}
