  <li id="{{}}" data-content="Users">
    <!-- <img class="profilePicture" alt="U"/> -->

    <div class="shape-style-attributes">
      <div class="row-attribute">
        <label> Color:</label>
        <input type="text" />
      </div>

      <div class="shape-border">
        <label>Border:</label>
        <label>
          borderColor:
        </label>
        <label>
          borderWidth:
        </label>
      </div>

      <div class="row-attribute">
        <label>Opacity:</label><input type="number" />
      </div>

      <div class="row-attribute">
      </div>
    </div>
  </li>
