@import 'imports/fonts.less';

body, html {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  height: 100%;
  .sans-serif-regular;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

.center {
  width: 950px;
  margin: 0 auto;
}

.sans-serif-regular {
  font-family: 'Lato', sans-serif;
}

// Sections
@import 'sections/home.less';
@import 'sections/whiteboard.less';
@import '../assets/spectrum.less';
