
.chatMessageBox {
  width: 100%;
  .chatMessages {
    width: 100%;
    > li {
      font-weight: bold;
    }
    li {
      text-align: center;
      display: block;
      width: 100%;
      margin: 2px 0;
      padding: 0;
    }
  }

  .messageInputUI {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 8%;
    height: 9%;
    transform: translateY(-50%);

    textarea {
      background-color: #FFF;
      height: 2.6em;
      padding: 0;
      margin: 0;
      width: 90%;
        
    }
    button {
      margin: 0;
      padding: 5px 10px;
      height: 2.6em;
      background-color: #F00;
      float: right;
    }
  }
}
