#userManagement {
  width: 100%;
  height: 100%;
  position: relative;

  li {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
	  user-select: none;
    margin-bottom: 1px;

    &:hover {
      background-color: #55c88c;
    }

    &.over {
      background-color: #617CB7;
    }

    p {
      display: inline-block;
      font-size: 1.2em;
      position: relative;
      transform: translateY(50%);
	  	   font-family: "Helvetica", Arial, sans-serif-regular;
    }

    .user-management-button-container {
      display: inline-block;
      height: 100%;
      float: right;
      margin-right: 15px;
      position: relative;

      img {
        display: inline-block;
        width: 25px;
        height: 25px;
        transform: translateY(50%);
    		border-radius: 500px;
    		z-index: -1;
      }
	    img:hover {
        margin: 0;
        padding: 0;
	      background-color: grey;
        cursor: pointer;
        cursor: hand;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
      }
      // Default is no chat
      .chatToggle {
        background-color: red;
      }

      .canChat {
        background-color: green;
      }

      .drawToggle {
        background-color: red;
      }

      .canDraw {
        background-color: green;
      }
    }
  }
}
